.skill {
  padding: 1rem;
  width: 250px;
  min-height: 175px;
  background: rgb(113, 169, 233);
  color: #151116;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.skill__button {
  display: block;
  padding: 0.25rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #151116;
  transition: all 0.15s;
  outline: none;
}

.skill__button:disabled {
  opacity: 0.6;
}

.skill__button:focus {
  color: white;
  background-color: #151116;
}

.skill__button:hover {
  cursor: pointer;
}

.skill__button:active {
  color: white;
  background-color: #151116;
}

.skill__button svg {
  font-size: 1.25rem;
}

.skill > * {
  margin-bottom: 0.25rem;
}

.skill__contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(52, 139, 238);
  border-radius: 6px;
}

.skill__title {
  font-weight: bold;
  padding: 0 5px;
}

.skill__buttons {
  display: flex;
}

.skill__note {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 6px;
  height: 70px;
  padding: 5px;
}

.delete:hover {
  color: rgb(255, 0, 0);
}

.edit:hover {
  color: rgb(83, 255, 83);
}